* {
    margin: 0;
    cursor: pointer;

}

body {
    height: 2500px;
    background-color: #151515;

}

header {
    height: 80px;
    background-color: rgb(0, 0, 0);
    color: white;

    width: 100%;
}

.menu {
    display: flex;
    position: relative;

}

h {
    flex: 1.7;
    padding-right: 50px;
    letter-spacing: 6px;
    font-size: 30px;
    font-weight: solid;
    text-transform: uppercase;
    color: pink;
    margin-left: 130px;
    padding: 10px;
}

.menuul {
    padding-right: 30px;
    row-gap: 20px;
    flex: 1.9;
}

ul,
li {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 10px;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin-right: 10px;



}

li:hover {
    background: #97551395;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    height: 20px;

}

.profile {

    display: flex;
    align-items: center;
 

}

.prof {

    width: 50px;
    height: 50px;
    border-radius: 30%;
    object-fit: cover;
}

.butt {

    display: flex;
    column-gap: 30px;
    padding: 20px;


}

.search {
    width: 100%;
    padding: 12px;
    border: none;
    background: #97551333;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;




}

.search:hover {
    background: #7b869381;
}

.sign {

    width: 140%;
    height: 40px;
    padding: 12px;
    border: none;
    background: #00c6ff;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
   
}

.sign:hover {
    background: #0072ff;
}


.nav {
    width: 120px;
    height: 100%;
    background-color: black;
    top: 0px;
    margin-bottom: 200px;
    position: fixed;

}

.icons {
    background-color: black;

    color: white;
    height: 2000px;
}

.navul,
.navli {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin-bottom: 150px;
    align-items: center;
    font-size: 10px;
    position: sticky;
    top: 90px;
    color: rgb(142, 133, 151);

}

.navli:hover {
    background: #ab845d30;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    height: 20px;


}

main {
    width: 100%;
    height: 100%;

    margin-left: 120px;
    margin-bottom: 300px;
}

.mainpicclass {

    width: 100%;

    height: 30%;

}

.mainhead {
    color: black;
    width: 20px;
    height: 25px;
    padding-bottom: 35px;
}

.ah1 {
    color: rgb(47, 47, 58);
    width: 500px;
    height: 50px;
    padding-top: 35px;
    padding-left: 70px;
    font-size: 50px;
    padding-bottom: 30px;
    font-weight: bold;
}

.paramain {
    width: 450px;
    height: 50px;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 80px;
    padding-top: 30px;
    text-transform: capitalize;
}

.maincontent {

    column-gap: 25px;
}

.wrapper {
    display: flex;
    column-gap: 50px;
    object-fit: cover;
}

img:hover {
    opacity: 20%;
    margin: 0 30px;
    transition: all 1s ease-in-out;
    transform: scale(1.2);
}



.ah2 {
    padding: 30px;
    color: blanchedalmond;
    font-size: 35px;
}

.maincontent-img {

    height: 300px;
    width: 350px;

}

.maincontentpara {
    width: 300px;
    height: 50px;
    color: rgb(165, 151, 176);
    text-transform: uppercase;
    font: lighter;
    font-size: 20px;
    margin-top: 30px;
    padding-bottom: 500px;
}

.foot {
    background-color: #151515;
    height: 359px;
    width:750px;
    display: flex;
    flex-direction: column;
    border-color: rgb(71, 43, 43);
    border-width: 7px;
    border-style: solid;
}

.picfoot {
    background-color: #151515;
    height: 359px;
    width: 750px;
    display: flex;
    flex-direction: column;
    border-color: rgb(71, 43, 43);
    border-width: 7px;
    border-style: solid;
    padding-right: 40px;
}



.twofoot {
    display: flex;
    width: 100%;
}

.deathnote {
    width: 780px;
    height: 350px;
    object-fit: cover;
    opacity: 20%;

    transition: all 1s ease-in-out;



}



/*media query*/
/* ========== Responsive Styles for Mobile and Tablets ========== */
@media screen and (max-width: 768px) {

    header,
    .menu,
    ul,
    li,
    .butt {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    h {
        font-size: 20px;
        margin-left: 0;
        padding: 5px;
    }

    ul,
    li {
        flex: none;
        font-size: 13px;
        margin: 5px 0;
    }

    .butt {
        flex-direction: column;
        row-gap: 10px;
        padding: 10px;
    }

    .search,
    .sign {
        width: 100px;
        height: auto;
        font-size: 14px;
    }

    .nav {
        width: 100%;
        height: auto;
        position: relative;
        margin-bottom: 0;
    }

    .navul,
    .navli {
        flex-direction: row;
        justify-content: space-around;
        padding-left: 0;
        margin-bottom: 0;
        font-size: 10px;
        top: unset;
        position: static;
    }

    main {
        margin-left: 0;
    }

    .wrapper {
        flex-direction: column;
        row-gap: 20px;
    }

    .ah1 {
        font-size: 28px;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .paramain {
        width: auto;
        font-size: 16px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }

    .maincontent-img {
        width: 100%;
        height: auto;
    }

    .maincontentpara {
        width: auto;
        font-size: 14px;
        padding: 10px 20px;
        text-align: center;
    }

    .foot,
    .picfoot {
        width: 800px;
        flex-direction: column;
        padding-bottom: 10px;
    }

    .twofoot {
        flex-direction: column;
    }

    .formclass {
        width: 100%;
        padding: 10px;
        border-width: 3px;
    }

    .form {
        width: 100%;
        padding: 10px;
        font-size: 14px;
    }
    .designpara{
        vertical-align: bottom;
        padding-top: 50px;
    }
}


.designpara{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 6px;
    padding-top: 60px;
   padding-bottom: 90px;
    color: white;
    text-align: center;
}
